---
interface Props {
	title: string;
}

const {title} = Astro.props;

const PATH = [
    {
        name: 'Proyectos',
        path: 'proyects'
    },
    {
        name: 'Sobre mí',
        path: 'about'
    },
    {
        name: 'Contáctame',
        path: 'contact'
    },
    {
        name: 'Skills',
        path: 'skills'
    }
]
---

<footer class="bg-gray-800 lg:rounded-lg shadow lg:w-[780px] w-full m-auto lg:mt-10 lg:mb-4 mt-6">
    <div class="w-full p-4 md:items-center md:justify-between flex lg:flex-row flex-col justify-center items-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="/" class="hover:underline">Fernando™</a>. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href='/' class="hover:underline me-4 md:me-6">Home</a>
        </li>
        {
            PATH.map(item => (
                <li>
                    <a href={item.path !== title ? `/${item.path}` : '/'} class={`hover:underline me-4 md:me-6 ${item.path !== title ? 'block' : 'hidden'}`}>{item.name}</a>
                </li>
            ))
        }
    </ul>
    </div>
</footer>