<h1 class="lg:text-6xl text-2xl">Hola, <span class="text-gradient lg:text-6xl text-2xl">Soy Fernando</span></h1>

<style>
      .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;

  }
h1, h2 {
/* font-size: 4rem; */
font-weight: 700;
line-height: 1;
text-align: center;
margin-bottom: 1em;
}
h2 {
/* font-size: 2rem; */
}
</style>